<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/user.css" rel="stylesheet">
    <title>Project Portal</title>
</head>
<body>
    <h1>Project Portal</h1>
    <div class="main">
        <div class="nav">
            <svg width="15em" height="10em" viewBox="0 0 16 16" class="bi-person" fill="white" >
            <path fill-rule="evenodd" d="M10 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6 5c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
            </svg>
            <ul class="nav-bar">
                <li class="list-item"><a href="/student/addcourse">Add Course</a></li>
                <li class="list-item"><a href="/student/enrolled">Enrolled Courses</a></li>
                <li class="list-item"><a href="/student/projects">View Projects</a></li>
                <li class="list-item"><a href="/student/student-project">Your Projects</a></li>
                <li class="list-item"><a href="/student/setting">Settings</a></li>
                <li class="list-item"><a href="/auth/logout">Logout</a></li>
            </ul>
        </div>
        <div class="courses">
            {{#if message }}
                <p class="alert"> {{ message }} </p>
            {{!-- {{else }} --}}
            {{/if}}
            {{!-- <h2 class="projects-page">Please read each project carefully and choose your top projects, the first being your most preferred and the last, your least preferred.</h2> --}}
            <table class="course-table">
                <tr>
                    <th>Project Name</th>
                    <th>Client Name</th>
                    <th>Client Contact Info</th>
                    <th>Course</th>
                </tr>
                {{#each results}}
                <tr>
                    <td> 
                        <form action="/student/view-project" method="POST">
                                <input type="submit" value="{{project_name}}" class="submit-btn">
                                <input type="hidden" name="courseNumber" value="{{course_number}}">
                                <input type="hidden" name="projectName" value="{{project_name}}">
                                <input type="hidden" name="projectDetail" value="{{project_detail}}">
                                <input type="hidden" name="clientName" value="{{client_name}}">
                                <input type="hidden" name="clientContact" value="{{client_contact}}">
                                <input type="hidden" name="extraDetails" value="{{extra_details}}">
                            </form>
                    </td>
                    <td> {{ client_name }} </td>
                    <td> {{ client_contact }} </td>
                    <td> {{ course_number }} </td>
                </tr>   
                {{/each}}
            </table>
            <br>
            <br>
            <div class="choices-container">
                <form action="/student/submitprefs" method="POST">
                <input type="hidden" name="num_prefs" value={{num_prefs}}>
                <input type="hidden" name="id" value={{id}}>
                <div class="project-choices">
                        {{#lessEqual 1 prefs }}
                            <div class="choice-and-list">
                                <span> First Preference</span>
                                <select class="choices" name="pref1" required="required">
                                    <option value="" disabled="true" selected="true"> -- Select One --</option>
                                    {{#each results }}
                                        <option value="{{ project_name }}"> {{ project_name }} </option>
                                    {{/each }}
                                </select>
                            </div>
                            <br>
                        {{/lessEqual }}
                        {{#lessEqual 2 prefs  }}
                            <div class="choice-and-list">
                                <span> Second Preference</span>
                                <select class="choices" name="pref2" required="required">
                                    <option value="" disabled="true" selected="true"> -- Select One --</option>
                                    {{#each results }}
                                        <option value="{{ project_name }}"> {{ project_name }} </option>
                                    {{/each }}
                                </select>
                            </div>
                        {{/lessEqual }}
                        <br>
                        {{#lessEqual 3 prefs  }}
                            <div class="choice-and-list">
                                <span> Third Preference</span>
                                <select class="choices" name="pref3" required="required">
                                    <option value="" disabled="true" selected="true"> -- Select One --</option>
                                    {{#each results }}
                                        <option value="{{ project_name }}"> {{ project_name }} </option>
                                    {{/each }}
                                </select>
                            </div>
                        {{/lessEqual }}
                        <br>
                        {{#lessEqual 4 prefs }}
                            <div class="choice-and-list">
                                <span> Fourth Preference</span>
                                <select class="choices" name="pref4" required="required">
                                    <option value="" disabled="true" selected="true"> -- Select One --</option>
                                    {{#each results }}
                                        <option value="{{ project_name }}"> {{ project_name }} </option>
                                    {{/each }}
                                </select>
                            </div>
                        {{/lessEqual }}
                        <br>
                        {{#lessEqual 5 prefs }}
                            <div class="choice-and-list">
                                <span> Fifth Preference</span>
                                <select class="choices" name="pref5" required="required">
                                    <option value="" disabled="true" selected="true"> -- Select One --</option>
                                    {{#each results }}
                                        <option value="{{ project_name }}"> {{ project_name }} </option>
                                    {{/each }}
                                </select>
                            </div>
                        {{/lessEqual }}
                        <br>
                    </div>
                    <button class="submit-prefs" number="submit"> Submit </button>
                </form>
            {{!-- <div class="user-info">
                <form action="select-project" method="POST">
                <select name="course_id" class="select-pro">
                    {{#each courses}}
                        <option value={{this.course_id}} class="opt">{{this.course_number}}</option>
                    {{/each}}
                </select>
                <button class="select-btn">Select your project</button>
                </form>
            </div> --}}
            </div>
            {{!-- {{/if}} --}}
        </div>
    </div>
</body>
</html>